.skills_container {
    row-gap: 3.5rem;
    margin-bottom: 5rem;
}

.skills {
    border-radius: 0 0 25px 25px;
    height: fit-content;
    transition: var(--transition);
    margin-top: 5rem;
}

.skills_head {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.skills_info, .skills_data, .skills_blob {
    display: grid;
}

.skills_info {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills_data {
    justify-content: center;
    text-align: center;
}

#bsp.skills_data {
    margin-left: 20px;
}

.skills_pic {
    width: 80px;
    height: 100px;
    background-color: var(--color-gray);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
}

.skills_pic img {
    width: 40px;
    margin-top: 30px;
}

.skills_pic img:hover {
    margin-top: 15px;
}

.skills_pic img {
    transition-property: margin-top;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.skills_name {
    margin-bottom: .25rem;
    font-weight: 300;
    font-size: 16px;
}


/* -------------------- MEDIA QUERIES -------------------- */

@media  screen and (max-width: 1024px) {
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  screen and (max-width: 600px) {
    .skills_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }
    .skills_info {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem 2.5rem;
    }    
}