.about_container {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 5%;
    align-items: center;
    margin-top: 5rem;
}

.about_container-under {
    margin-top: 10rem;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background: linear-gradient(
        45deg,
        var(--color-white),
        var(--color-bg),
        var(--color-white)
    );
    display: grid;
    place-items: center;
    padding: 10px;
}

.about_me_image {
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    border-radius: 50%;
    width: 90%;
}
.about_me_image:hover {
    margin-top: -30px;
}

.about_content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.about_content p{
    font-size: 14px;
    text-align: left;
}

.about_script {
    padding: 30px 50px;
    background-color: var(--color-white);
    border-radius: 25px;
    box-shadow: rgba(199, 161, 181, 0.2) 0px 7px 29px 0px;
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about_card {
    transition: var(--transition);
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 25px;
    box-shadow: rgba(199, 161, 181, 0.2) 0px 7px 29px 0px;
}

.about_card_header {
    color: var(--color-black);
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about_card_info {
    padding: 0 20px;
}

#about_card_icon {
    border-radius: 50px;
    padding: 5px;
    margin-right: 12px;
    font-size: 36px;
    background-color: var(--color-primary);
    color: var(--color-bg);
}

#pink-text {
    color: var(--color-primary);
}

.lang_flag {
    display: flex;
    align-items: left;
    margin: 20px 0;
}
.lang_flag img {
    width: 100%;
    height: 50px;
}

/* -------------------- MEDIA QUERIES -------------------- */
@media  screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me {
        width: 50%;
        margin: 2rem auto 4rem; /* to be circle!! */
    }
}
  
@media  screen and (max-width: 600px) {
    .about_me {
        width: 60%;
    }
    .about_container-under {
        margin-top: 5rem;
    }
    .about_cards {
        grid-template-columns: 1fr;
    }
}
  