.projects_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5em;
    margin-top: 5rem;
}

.project_item {
    background: var(--color-white);
    border-radius: 25px;
    box-shadow: rgba(199, 161, 181, 0.2) 0px 7px 29px 0px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5em;
    padding: 2rem;
}

.project_item-image {
    border-radius: 10px;
    overflow: hidden;
    margin: 1.5rem 0;
}

.project_item-info {
    margin: 1.5rem 0;
}

.project_item h3 {
    text-align: left;
}

.project_item p {
    text-align: left;
    font-size: 14px;
    color: var(--color-text);
}

.project_item-cta {
    display: flex;
    gap: 1rem;
    font-size: 14px;
}

.project_item-tools {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 30px;
    width: 80px;
}

.project_item-tools img {
    width: 25px;
}
 
.btn {
    padding: 10px 15px;
}

.btn:hover {
    border: 1px solid var(--color-black);
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-primary:hover {
    color: var(--color-white);
    background: var(--color-black);
    border: 1px solid var(--color-black);
}



@media  screen and (max-width: 1400px) {
    .project_item {
        grid-template-columns: repeat(1, 1fr);
    }
    .project_item-info {
        margin: 0;
    }
    .project_item-image {
        margin: 0;
    }
}


/* Container needed to position the button. Adjust the width as needed */
.project_item-image {
    position: relative;
  }
  
  /* Make the image responsive */
  .project_item-image img {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 3px solid var(--color-gray);
    border-radius: 25px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .project_item-image .btn {
    padding: 10px 10px 0 10px;
    transform: translate(-5%, -50%);
    color: white;
    font-size: 80px;
  
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--color-black);
    font-size: 30px;
    margin-bottom: -10px;
  }

  .project_item-image:hover > .btn {
    font-size: 40px;
  }
  
  .project_item-image .btn:hover {
    box-shadow: rgba(255, 173, 198, 0.479) 0px 7px 29px 0px;
  }
  
  .project_item-image .btn.pause {
    box-shadow: rgba(243, 197, 222, 0.404) 0px 7px 29px 0px;
    background-color: var(--color-primary);
  }