#contact {
    /* background: var(--color-pink); */
    /* background: linear-gradient(0deg, var(--color-pink) 0%, var(--color-white) 100%); */
    
    background: 
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 50px,
      white 50px,
      white 55px
    ),
    repeating-linear-gradient(
      to top,
      transparent,
      transparent 50px,
      white 50px,
      white 55px
    ),
    linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 234, 234));

}
section#contact > h2 {
    color: var(--color-primary);
}

.contact_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    margin-top: 5rem;
}

.contact_card {
    transition: var(--transition);
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 25px;
}

.contact_card_header {
    margin-bottom: 1rem;
}

.contact_card_header h5 {
    font-size: 18px;
}

.contact_card_header .contact_card_icon {
    font-size: 36px;
}

.contact_card_icon {
    color: var(--color-primary);
}

.contact_card_info {
    font-size: 14px;
}

@media  screen and (max-width: 1400px) {
    .contact_container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}